@charset "ISO-8859-1";
body {
	padding-top: 70px;
	margin: 30px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.viewborders {
	/*border: solid;*/
	margin: 20px;
	border: 2px black solid;
	padding: 10px;
}